#VScode related stuff
*.vscode

#pipenv related stuff
Pipfile
Pipfile.lock

#distribution package folder
dist/
rest_solace.egg-info/

#cache folders
__pycache__git/
src/rest_solace/__pycache__/
tests/__pycache__/